# =============================================================================
# Archivos y Reportes de Pruebas (Locust, Allure, Pytest, Lighthouse)
# =============================================================================
# Reportes de Locust (CSV y HTML)
resultados_*.csv
locust-report.html
locust-results*

# Reportes de Allure
allure-report/
allure-results/

# Reportes de Lighthouse
lighthouse-report.json
lighthouse-reports/
.lighthouseci/

# Caché de Pytest
.pytest_cache/

# Otros reportes genéricos
report.html


# =============================================================================
# Entornos Virtuales y Dependencias
# =============================================================================
# Entornos de Python
venv/
.venv/
.env/
.envrc

# Dependencias de Node.js
node_modules/


# =============================================================================
# Archivos Específicos de Python
# =============================================================================
# Caché y archivos compilados
__pycache__/
*.py[cod]
*$py.class


# =============================================================================
# Configuración de IDEs y Editores
# =============================================================================
.idea/
.vscode/
*.swp
*.swo


# =============================================================================
# Archivos Específicos de Playwright
# =============================================================================
# Caché y artefactos generados (trazas, videos, etc.)
playwright/.cache/
playwright/artifacts/


# =============================================================================
# Archivos Generados por el Sistema Operativo
# =============================================================================
# macOS
.DS_Store

# Windows
Thumbs.db


# =============================================================================
# Logs y Archivos Temporales
# =============================================================================
*.log
npm-debug.log*
*.tmp
*.tmp.*
*.local
*.pot

